:root {
  --dark-blue: #25252e;
  --med-blue: #2b2d36;
  --dark-light-blue: #7b8eb0;
  --light-blue: #92a8d1;
}

* {
  font-family: sans-serif;
  font-weight: 100;
  display: border-box;
  text-align: center;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: var(--dark-blue);
}

nav h2 {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav ul > * {
  color: white;
  text-decoration: none;
}
